#main {
  margin: 0px;
  background-color: rgb(245, 245, 245);

  height: 90vh;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  border-style: solid;
  border-color: black;
  border-radius: 3px;
  border-width: 0.5px;
}

#contactTitle {
  margin: 0px;
  background-color: rgb(245, 245, 245);

  height: 35vh;
  min-width: 400px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  border-style: solid;
  border-color: black;
  border-radius: 3px;
  border-width: 0.5px;
}

#contactMainTitle {
  margin: 0px;
  background-color: rgb(245, 245, 245);
  font-size: clamp(3rem, 5rem, 6rem);

  display: flex;
  position: relative;
  top: 0;
  left: 0;

  border-style: solid;
  border-color: black;
  border-radius: 3px;
  border-width: 0.5px;
}

#contactMainDesc {
  margin: 0px;
  background-color: rgb(245, 245, 245);

  height: auto;
  min-width: 400px;

  display: flex;
  position: relative;
  top: 0;
  left: 0;

  border-style: solid;
  border-color: black;
  border-radius: 3px;
  border-width: 0.5px;
}

#contactInfo {
  margin: 0px;
  background-color: rgb(245, 245, 245);

  height: 70vh;
  width: 400px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  border-style: solid;
  border-color: black;
  border-radius: 3px;
  border-width: 0.5px;
}